@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}

.light-purple{
  background-color: #9668c7;
}
.dark-purple{
  background-color: #685dc5;
}
.strong-purple{
  background-color: #2c2565;
}
.light-pink{
  background-color: #b64ed9;
}
.pastel-blue{
  background-color: #5447e8;
}
.pastel-green{
  background-color: #50a835;
}
.pastel-purple{
  background-color: #9636f8;
}
.pastel-red{
  background-color: #d94c53;
}
.pastel-yellow{
  background-color: #afb204;
}
.pastel-background{
  background-color: #14141e;
}
.pastel-background-div{
  background-color: #353444;
}
.pastel-background-strong-div{
  background-color: #0f1019;
}
.strong-background{
  background-color: #030303;
}
.white-color {
  color: #cfd1d4;
}
.pastel-border {
  border:1px solid #2e2e38;
}
.gradient-text {
  background: -webkit-linear-gradient(#9668c7, #685dc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.gradient-text-purple-yellow {
  background: -webkit-linear-gradient(#6c15ca, #c25400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #0f1019;
}

body::-webkit-scrollbar-thumb {
  background-color: #353444;
}

.menuNavbar {
  background: rgba(0, 0, 0, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  animation: openMenu 0.5s linear normal;
}

@keyframes openMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
